<%if(Number(page)>1){%>
    <a href="/list?page=<%= (Number(page) - 1) %>">Prev</a>
    <%if(Number(page)>2){%>
        <a href="/list?page=<%= (Number(page) - 2) %>"><%= (Number(page) - 2) %></a>
    <%}%>
    <a href="/list?page=<%= (Number(page) - 1) %>"><%= (Number(page) - 1) %></a>
<%}%>
<a href="/list?page=<%= (page) %>"><%= (page) %></a>
<a href="/list?page=<%= (Number(page) + 1) %>"><%= (Number(page) + 1) %></a>
<a href="/list?page=<%= (Number(page) + 2) %>"><%= (Number(page) + 2) %></a>

<a href="/list?page=<%= (Number(page) + 1) %>">Next</a>