<a href="/list?page=<%= (page - 1) %>">Prev</a>

<a href="/list?<%= (page - 2) %>"><%= (page - 2) %></a>
<a href="/list?<%= (page - 1) %>"><%= (page - 1) %></a>
<a href="/list?<%= (page) %>"><%= (page) %></a>
<a href="/list?<%= (page + 1) %>"><%= (page + 1) %></a>
<a href="/list?<%= (page + 2) %>"><%= (page + 2) %></a>

<a href="/list?<%= (page + 1) %>">Next</a>