<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Calculator</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <%include ./partials/head.ejs%>
</head>

<body>
<div class="container">
    <%include ./partials/header.ejs%>
    <h1>Calculator</h1><!--<iframe src="http://localhost:3000/"></iframe>-->
    <form action="/calc/post" method="post">
        <label>Name</label>
        <input class = "typehead" id = "tags" type="text" name="input" />
        <label>Quantity</label>
        <input id = "nums" type="number" name="quant" />
        <button type="submit">Add</button>

    </form>
    <!--debugging tool-->
    <!--<p id = "test">testing ajax</p>-->
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Water (g)</th>
            <th>Energy (Kcal)</th>
            <th>Protein (g)</th>
            <th>Sugar (g)</th>
            <th>Sodium (mg)</th>
            <th>Cholesterol (mg)</th>
            <th>Carbohydrate (g)</th>
            <th> </th>
        </tr>
        </thead>
        <tbody>
        <%if(typeof calcList != 'undefined'){%>
            <% for (var key in calcList) {%>
                <% if (calcList.hasOwnProperty(key)) {%>
                <tr id="row<%=calcList[key]['NDB_No']%>">
                    <td><%=calcList[key].Shrt_Desc%></td>
                    <td><%=calcList[key]['quant']%> X <%=calcList[key]['GmWt_Desc1']%></td>
                    <td><%=Number(calcList[key]['Water_(g)']*calcList[key]['quant']).toFixed(2)%></td>
                    <td><%=Number(calcList[key]['Energ_Kcal']*calcList[key]['quant']).toFixed(2)%></td>
                    <td><%=Number(calcList[key]['Protein_(g)']*calcList[key]['quant']).toFixed(2)%></td>
                    <td><%=Number(calcList[key]['Sugar_Tot_(g)']*calcList[key]['quant']).toFixed(2)%></td>
                    <td><%=Number(calcList[key]['Sodium_(mg)']*calcList[key]['quant']).toFixed(2)%></td>
                    <td><%=Number(calcList[key]['Cholestrl_(mg)']*calcList[key]['quant']).toFixed(2)%></td>
                    <td><%=Number(calcList[key]['Carbohydrt_(g)']*calcList[key]['quant']).toFixed(2)%></td>
                    <td><form action="/calc/delete" method="post"><button class="deleteButton" type="submit">delete</button><input type="hidden" name="deleteId" value=<%=calcList[key].NDB_No%>></form></td>
                </tr>
                <%}%>
            <%}%>
        <%}%>
        <tr>
            <td><b>Total</b></td>
            <td></td>
            <td><%=isNaN(total['Water_(g)'])?0:Number(total['Water_(g)']).toFixed(2)%></td>
            <td><%=isNaN(total['Energ_Kcal'])?0:Number(total['Energ_Kcal']).toFixed(2)%></td>
            <td><%=isNaN(total['Protein_(g)'])?0:Number(total['Protein_(g)']).toFixed(2)%></td>
            <td><%=isNaN(total['Sugar_Tot_(g)'])?0:Number(total['Sugar_Tot_(g)']).toFixed(2)%></td>
            <td><%=isNaN(total['Sodium_(mg)'])?0:Number(total['Sodium_(mg)']).toFixed(2)%></td>
            <td><%=isNaN(total['Cholestrl_(mg)'])?0:Number(total['Cholestrl_(mg)']).toFixed(2)%></td>
            <td><%=isNaN(total['Carbohydrt_(g)'])?0:Number(total['Carbohydrt_(g)']).toFixed(2)%></td>
        </tr>
        </tbody>
    </table>
</div>


<!-- JS -->
<!-- this is the jQuery CDN reference. You need internet access for this file! -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<style type="text/css">
  
</style>
<script>
//    $(function() {
//        var l = nutritionList;
//        $( "#tags" ).autocomplete({
//            source: l
//        });
//    });

    function initAC(data) {
        //alert(typeof data);
        // might want to change to typeahead later
        $( "#tags" ).autocomplete({
            source: JSON.parse(data)
        });
    }

    $(document).ready(function(){
        $.ajax({
            url: "/calc/autocomplete",
            type: "GET",
            success: function(data){
                //$("#test").text(data['ajaxList']);
                initAC(data['ajaxList']);
            }});
    });

//    $(".deleteButton").click(function(){
//
//        $.ajax({
//            url: "/calc/delete",
//            type: "POST",
//            data:$("#idForm").serialize()
//            success: function(rowid){
//                alert(rowid);
//            }});
//    });
//    $(".deleteButton").click(function(){
//
//        $.ajax({
//            url: "/calc/delete",
//            type: "POST",
//            data:$("#idForm").serialize()
//            success: function(rowid){
//                alert(rowid);
//            }});
//    });
</script>
</body>

<% include ./partials/footer.ejs%>

</html>