<!DOCTYPE html>
<html lang="en">



<body>
    <div class="container">
        
        <div class="row">
            <div class="col-sm-12">
                <h1>Shows</h1>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Season</th>
                            <th>Show Number</th>
                            <th>Air Date</th>
                        </tr>
                    </thead>
                    <tbody>
                    <%if(typeof episodesData != 'undefined'){%>
                        <% for(var i = 0; i <episodesData.length;i++){%>
                            <tr>
                                <td>
                                    <a href="episodes/<%=episodesData[i].id%>"><%=episodesData[i].name%></a>
                                </td>
                                <td>Season <%=episodesData[i].season%></td>
                                <td>Episode <%=episodesData[i].number%></td>
                                <td><%=episodesData[i].airdate%></td>
                                <!-- <td>
                                    <a href="#">{SHOW NAME}</a>
                                </td>
                                <td>Season 3</td>
                                <td>Episode 14</td>
                                <td>2013-01-03</td> -->
                            </tr>
                        <%}%>
                    <%}%>
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>

    <!-- JS -->
    <!-- this is the jQuery CDN reference. You need internet access for this file! -->
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        // JavaScript HERE
    </script>
</body>

</html>